@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}
.App {
margin: 0 auto;
width: 500px;
}
.App li {
 margin-bottom: 60px;
}

.month {
  margin-bottom: 20px;
}

thead th {
  border: none;
}

li {list-style:none;}

p {text-align: center;}